<footer id="footer"><!--Footer-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <h2><%= image_tag 'logo.png' %></h2>
            <p>Frase sobre a empresa</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="companyinfo">
            <p class="rights_reserved">Copyright © 2015 NOME. All rights reserved.</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="address">
            <%= image_tag 'map.png' %>
            <p>Endereço da Loja, João Pessoa, Brasil</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer><!--/Footer-->
